<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
    <script src="https://kit.fontawesome.com/34a219943a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <div class="first">
        <h1>Lista de canciones</h1>
        <a href="/crear"><i class="fa-solid fa-circle-plus"></i> Crear Canción</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Duración</th>
                <th>Género</th>
                <th>Álbum</th>
                <th>Artista</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% for (const cancion of canciones) { %>
                <tr>
                    <td><%= cancion.titulo %></td>
                    <td><%= cancion.duracion %> segundos</td>
                    <td><%= cancion.Genero.name %></td> 
                    <td><%= cancion.Albume.nombre %></td> 
                    <td><%= cancion.Artista.nombre %></td> 
                    <td class="last-box">
                        <a href="/detail/<%= cancion.id %>"><i class="fa-solid fa-circle-info black-icon"></i></a>
                        <a href="/editar-cancion/<%= cancion.id %>"><i class="fas fa-edit"></i></a>
                        <form action="/canciones/<%= cancion.id %>?_method=DELETE" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="delete-button">
                              <i class="fas fa-trash-alt"></i> <!-- Icono de eliminación -->
                            </button>
                          </form>
                          
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>

