<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="admin-create.css" />
</head>

<body>
    <h1>Crear Nueva Canción</h1>
    <form method="POST" action="/">
        <label for="titulo">Título de la Canción:</label>
        <input type="text" name="titulo" required /><br />

        <label for="duracion">Duración (segundos):</label>
        <input type="number" name="duracion" required /><br />
        
        <label for="genero">Género:</label>
        <select id="genero" name="genero" required>
          <option value="" disabled selected>Selecciona un género</option>
          <% generos.forEach((genero) => { %>
            <option value="<%= genero.id %>">
              <%= genero.name %>
            </option>
          <% }); %>
        </select>
        
        <label for="album">Álbum:</label>
        <select id="album" name="album">
          <option value="" disabled>Selecciona un álbum</option>
          <% albumes.forEach((album) => { %>
            <option value="<%= album.id %>">
              <%= album.nombre %>
            </option>
          <% }); %>
        </select>
        
        <label for="artista">Artista:</label>
        <select id="artista" name="artista" required>
          <option value="" disabled selected>Selecciona un artista</option>
          <% artistas.forEach((artista) => { %>
            <option value="<%= artista.id %>">
              <%= artista.nombre %> <%= artista.apellido %>
            </option>
          <% }); %>
        </select>
        <input type="submit" value="Crear" />
    </form>
</body>

</html>